<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.user.dao.MtimeUserTMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.user.entity.MtimeUserT">
        <id column="UUID" property="uuid" />
        <result column="user_name" property="userName" />
        <result column="user_pwd" property="password" />
        <result column="nick_name" property="nickname" />
        <result column="user_sex" property="sex" />
        <result column="birthday" property="birthday" />
        <result column="email" property="email" />
        <result column="user_phone" property="phone" />
        <result column="address" property="address" />
        <result column="head_url" property="headAddress" />
        <result column="biography" property="biography" />
        <result column="life_state" property="lifeState" />
        <result column="begin_time" property="creatTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <select id="validate"  resultMap="BaseResultMap">
        select user_name,user_pwd from mtime_user_t
        where user_name = #{user.userName} and user_pwd= #{user.password}
    </select>

    <select id="selectUserByName" resultMap="BaseResultMap">
        select UUID,user_name,user_pwd,nick_name,user_sex,birthday,email,user_phone,address,head_url,biography,life_state,,begin_time,update_time
        from mtime_user_t
        where  user_name = #{name}
    </select>

    <select id="selectUserByName" resultMap="BaseResultMap">
        select UUID,user_name,user_pwd,nick_name,user_sex,birthday,email,user_phone,address,head_url,biography,life_state,,begin_time,update_time
        from mtime_user_t
        where  UUID = #{id}
    </select>

    <update id="updateUserById" >
        update mtime_user_t
        <set>
            <if test="userName!=null" >
                user_name = #{user.userName},
            </if>
            <if test="password!=null">
                user_pwd = #{user.password},
            </if>
            <if test="nickname!=null">
                nick_name = #{user.nickname},
            </if>
            <if test="sex!=null">
                user_sex = #{user.sex},
            </if>
            <if test="birthday!=null">
                birthday = #{user.birthday},
            </if>
            <if test="email!=null">
                email = #{user.email},
            </if>
            <if test="phone!=null">
                user_phone = #{user.phone},
            </if>
            <if test="address!=null">
                address = #{user.address},
            </if>
            <if test="headAddress!=null">
                head_url =#{user.headAddress},
            </if>
            <if test="biography!=null">
                biography = #{user.biography},
            </if>
            <if test="life_state!=null">
                life_state = #{user.life_state},
            </if>
            <if test="updateTime!=null">
                update_time = now(),
            </if>
        </set>
        where UUID = #{user.uuid}
    </update>
</mapper>
